<!DOCTYPE html>

<html>
    
<head>
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/Clicker.css">
    <meta name="viewport" content="width=device-width" />
    <title>discord-clicker</title>
</head>
<body>
    @RenderBody()
</body>
    <script src="js/Clicker.js"></script>
    <script src="js/CardHandler.js"></script>
</html>
