<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <h1 class="clicker_counter">0</h1> 
            <h1 class="cps_counter">0</h1>
            <img ondragstart="return false;" class="clicker_button" src="images/env/wampus.png">
        </main>
        <aside>
            <div class="arrows">
                <img ondragstart="return false;" class="arrow build-arrow" src="images/env/build-arrow.png">
                <img ondragstart="return false;" class="arrow upgrade-arrow" src="images/env/upgrade-arrow.png">
                <img ondragstart="return false;" class="arrow achiev-arrow" src="images/env/achiev-arrow.png">
                <img ondragstart="return false;" class="arrow profile-arrow" src="images/env/profile-arrow.png">
                <img ondragstart="return false;" class="arrow leader-arrow" src="images/env/leader-arrow.png">
            </div>
                <img ondragstart="return false;" class="pillar" src="images/env/столб.png">
        </aside>
    </div>
</body>
</html>