@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif !important;
    background: #fafafa;
    position: relative !important;
    touch-action: pan-y;
    margin-top: 20px;
}
html, body {
    margin: 0 !important;
    height: 100% !important;
    overflow: hidden !important;
}
#content {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #2c2f33;
}
@media (max-width: 768px) {
    .clicker_button {
        width: 200px !important;
        height: 200px !important;
    }
    .clicker_counter {
        font-size: 10vmin !important;
    }
}
.parent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.clicker_button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.clicker_button {
    width: 600px;
    height: 600px;
}
.clicker_counter {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.cps_counter {
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
#content {
    z-index: 1;
    position: absolute;
}
.collapse {
    overflow-y: scroll !important; /* Add the ability to scroll */
    max-height: 50%;
}
#navbarToggleExternalContent2 {
    max-height: 25%;
    transition: all 0.3s !important;
}
#navbarToggleExternalContent {
    max-height: 25%;
    transition: all 0.3s !important;
}
#navbarToggleExternalContent::-webkit-scrollbar {
    display: none !important;
}
#navbarToggleExternalContent2::-webkit-scrollbar {
    display: none !important;
}
#navbarToggleExternalContent3::-webkit-scrollbar {
    display: none !important;
}
.item-list {
    list-style: none;
    padding: 0px;
    left: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.item-list div {
    padding: 5px;
    
}
a:active {
    background-color: #36393F;
}
#perk:hover {
    opacity: 60%;
}
.item {
    border-radius: 7px;
    background-color: #23272A;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
    grid-template-rows: repeat(2, 1fr) repeat(3, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.perk-img {
    grid-area: 1 / 1 / 6 / 2;
    margin: 4px;
}
.perk-name {
    grid-area: 1 / 2 / 2 / 3;
}
.perk-cost {
    grid-area: 2 / 2 / 3 / 3;
}
.perk-purchased {
    grid-area: 2 / 3 / 3 / 4;
}
.perk-passive {
    grid-area: 1 / 3 / 2 / 4;
}
.alert {
    background-color: #23272A;
    border: 0px;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

.alert {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0);
    grid-template-rows: repeat(2, 1fr) repeat(3, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 200px !important;
    display: grid;
}
.alert-up { grid-area: 1 / 1 / 2 / 2; }
.alert-down { grid-area: 2 / 1 / 3 / 2; }

body {
    background-color: #2c2f33 !important;
}
html * {
    color: #ffffff !important;
}
input {
    color: #2c2f33 !important;
}
.c-button--icon {
    min-width: initial;
    text-align: center;
    padding: 10px 14px;
}
input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
input[type=text], input[type=button], input[type=submit] {   
    background-color : #D3D3D3;    
}